@media (max-width: 767px) {
    #searchbar > .navbar-form {
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #searchbar > .navbar-form {
        width: 205px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    #searchbar > .navbar-form {
        width: 425px;
    }
}

@media (min-width: 1200px) {
    #searchbar > .navbar-form {
        width: 625px;
    }
}


.breadcrumb {
    background-color: #1b6d85;
}


.navbar-default .navbar-nav li a:hover {
    background-color: gray;
    color: black;

}

.navbar-default .navbar-nav li a {
    color: white;
}

.navbar-default .navbar-nav > .active > a {
    color: white;
    background-color: black;
}

.navbar-default .navbar-nav > .active > a:hover {
    color: white;
    background-color: black;
}

.navbar-default .navbar-nav > .active > a:focus {
    color: white;
    background-color: black;
}


.navbar-header .navbar-brand {
    color: white;
}


.navbar-header .navbar-brand:hover,
.navbar-header .navbar-brand:focus {
    background-color: transparent;
    color: white;
}